.hpline {margin:auto;margin-top:10px;margin-bottom:10px;}

/* Catalog List - Default */
div.MCatalog { position: relative; width: 100%; .position:static;}

.MCatalog h1.title{margin-bottom:10px;clear:both}
.MCatalog div.CategoryText{clear:both;}

.MCatalog .thumbView {float:right;direction:ltr; list-style: none; _width:100%; _overflow:visible;}
.MCatalog .thumbView li.itm { float:right; width:163px;  display: inline; color:#666; font-size:12px; background:#fff; border:1px solid #b2e0fa;   position:relative;.position:static; padding:4px;}
.MCatalog .thumbView li.itm { margin:0 13px 15px 0; _margin-right:8px; }
.MCatalog .thumbView li.f {clear: right; margin-right:0;}

/* -- LIST MODE -- product list -- */
.MCatalog li.prc .content {padding:15px 4px 10px 4px; direction:rtl; }
.MCatalog li.prc .dstatus{position:absolute; left:0; top:-4px;}
.MCatalog li.prc .dstatus{.position:static; .float:left; .margin:-10px 0 0 -7px;} /*ie7*/
.MCatalog li.prc .dstatus{ _margin:-6px 0px 0px -2px;}/*ie6*/
.MCatalog li.prc .dSale{padding:0 3px 3px 0;height: 39px;}

.MCatalog li.prc .dtitle {text-align:center; overflow:hidden; height:27px;}
.MCatalog li.prc .title {font-weight:bold; text-align:center; direction:rtl;}
.MCatalog li.prc .title a{text-decoration:none; display: block;}
.MCatalog li.prc .title a:hover{color:#666;}
.MCatalog li.prc .dthumb{height:120px; text-align:center; margin:5px 0;}
.MCatalog li.prc .dwtop{height: 25px;margin-bottom:5px;}
.MCatalog li.prc .ddescription{height: 25px;text-align:center;}
.MCatalog li.prc .description{}
.MCatalog li.prc .BuyBlockDiv{border-top: 1px dotted #B2B2B2; background:#f5f5f5; padding:5px; width:153px;}
.MCatalog li.prc .dprice{text-align:left; line-height:18px; .width:83px;}
.MCatalog li .price{ color:#d32029; font-weight: bold; display: block; text-align:center;direction:ltr;}
.MCatalog li.prc .dbuts{margin-top:5px; .width:153px;}
.MCatalog li .buy{text-decoration:none; background: url('mproducts/add_to_cart.gif') no-repeat 50% 50%; display: block; line-height: 17px; text-align: right; width: 53px; color: #fff; padding-right:25px; font-weight:bold;}
.MCatalog li .buy:hover{ background: url('mproducts/add_to_cart_ov.gif') no-repeat 50% 50%; }
.MCatalog li.prc .link, 
.MCatalog li .details{text-decoration:none; background: url('mproducts/details.gif') no-repeat 50% 50%; display: block; line-height: 17px; text-align: right; width:44px; padding-right:22px; color:#fff; font-weight:bold;}
.MCatalog li.prc .link:hover, 
.MCatalog li .details:hover {background: url('mproducts/details_ov.gif') no-repeat 50% 50%;}
.MCatalog li.prc .out{background:url("mproducts/out.gif") no-repeat scroll 50% 50% transparent;color:#FFFFFF;display:block;float:right;font-weight:bold;line-height:17px;padding-right:16px;text-align:right;width:62px;}.MCatalog li.prc .cinbut{}
.MCatalog li.prc .cwbot{_display:none;}

.MCatalog li .dquant {font-size:0;.font-size:1px;}
.MCatalog li .dquant span{.width:62px;}
.MCatalog li .quant {width:23px; border:1px solid #ababab; font-size:11px; color:#666; float:right; margin:0 3px 0 2px; text-align:center;}
.MCatalog li .dquant .plusButton {color:#fff;display:block; float:right; padding:9px 7px; background: url('mproducts/plus.JPG') no-repeat 50% 50%;}
.MCatalog li .dquant .minusButton{display:block; float:right; padding:9px 7px; background: url('mproducts/minus.JPG') no-repeat 50% 50%;}

.MCatalog li .dwish{margin-top:5px; text-align:center;}
.MCatalog li .dwish a{text-decoration:none; background: url('mproducts/save.gif') no-repeat 50% 50%; display:inline-block; line-height: 17px; text-align: right; width: 125px; color: #fff; padding-right:30px; font-weight:bold;}
.MCatalog li .dwish a:hover{background: url('mproducts/save_ov.gif') no-repeat 50% 50%;}
/* -- LIST MODE -- product counter -- */
.MCatalog li div.dwprice{float: right;}
.MCatalog li div.dwprice .dprice{display: block;margin-top: 0;width: 60px;}
.MCatalog li div.dwprice input{ float: right;width: 20px;}
.MCatalog ul li .upDownCounter{}
.MCatalog ul li .upDownCounter .quantity{float: right;margin-right: 23px;}
/* Catalog list view */
/*div.MCatalog {overflow: hidden; position: relative;}*/

.MCatalog li .dthumb {background-color: #FEFEFE;border: 1px solid #EAEAEA;display: table-cell;height: 120px;padding: 8px;position: relative;text-align: center; width:145px;  .position: static;}
.MCatalog li .dthumb .deal_status_in{top:3px; right:3px; left:0;}
.MCatalog li .dthumb .deal_status_in a{display:inline-block; }
.MCatalog li .dvd{ color: #999999;float: right;font-size: 12px;height: 45px;line-height: 14px;overflow: hidden;padding-right: 10px;text-align: right;vertical-align: top;width: 494px;}/*description*/
.MCatalog li .productTitle{float: right;line-height: 20px;padding-right: 10px;text-align: right;vertical-align: top;width: 494px;}/*description*/
.MCatalog li a .title {float:right; font-size: 1.2em; text-align:right; color:#0C76BD; margin-top:5px; padding-left:14px;}
.MCatalog li .price{direction:ltr; display:inline-block;}
.MCatalog li .dvb{float: left;margin-top: 27px;text-align: left;width: 167px;}
.MCatalog li .dvb .details{margin-left: 5px;}
/*.MCatalog li .details{font-size:12px;line-height:20px;text-align:center;color:#fff;width:57px;height:20px;margin-left:10px; font-weight:bold; float:left;background: url('/App_Themes/_he-IL/M/black.jpg') no-repeat right #AEC129; display: block;} 
.MCatalog li .details:hover { text-decoration:underline;}*/
.dvb a.buy {float: right;}
.MCatalog li .details{float: right;}
.MCatalog li div.fix_list{float:right;}

.MCatalog li .oldPrice {   text-decoration: line-through; margin-left:5px; color:#616161;}

.MCatalog .listView li{border:none; border-bottom: 1px solid #B2E0FA;  color: #363636;display: inline;float: right;font-size: 12px;height: auto;margin-right: 0;margin-top: 0;margin-bottom:5px; padding:0; padding-bottom:5px; position: relative; width:100%; position: static;}
.MCatalog .listView li .title{ margin:2px 10px 0 0;}
.MCatalog .listView li .title a {margin-top:0; font-size:12px;}
.MCatalog .listView li .dthumb{display: table-cell;height:auto;padding:0px;position: relative;text-align: center;width:36px; .width:36px; .position: static;}

.MCatalog .listView li .content{height: 38px;width: 665px;}
.MCatalog .listView li .dvd{height:14px;}
.MCatalog .listView li .bottom_strip{width:100%; margin-right:0;}
.MCatalog .listView li .dvp{line-height:18px; color:#d32029; font-weight: bold; margin:0 20px; .width:155px;}
.MCatalog .listView li .dvp .dprice{margin-right:5px; .width:115px;}

.MCatalog .listView li .dSale{width:86px; height: 42px;}
.MCatalog .listView li .upDownCounter{text-align:center;}
.MCatalog .listView li .dquant{margin-top:0; .font-size:1px; .width:62px; display:inline-block;}
.MCatalog .listView li .dbuts {.width:78px;}
.MCatalog .listView li .dbuts .dbuy{margin-top:5px;}
.MCatalog .listView li .dbuts .dbuy a{float:left; display:inline-block;}
.MCatalog .listView li .dbuts .dwish a{float:left; display:inline-block; margin-top:0; margin-left:5px;}

/* Catalog Related List */

.relatedDiv{ width:100%; _width:710px; float:right; _float:none;}
.relatedDiv .relatedTtl{margin-top:10px; background:#91c6fa; color:#fff; font-size:0.8em; font-weight:bold; padding-right:15px; line-height:23px;}

.MCatalogRL {margin-top:10px; width:731px; _width:710px; float:right;}
.MCatalogRL .ListView { list-style: none; overflow: hidden; text-align: center; }
.MCatalogRL .ListView li { height: 1%; position: relative; margin-top: 1em; .position:static;}
.MCatalogRL .ListView li.itm { float:right; width:171px; height:160px; display: inline; color:#666; font-size:12px; background:#fff; border:1px solid #b2e0fa;}
.MCatalogRL .ListView li.itm{margin:0 13px 15px 0; _margin-right:8px;}
.MCatalogRL .ListView li.f {clear: right; margin-right:0;}
.MCatalogRL .ListView li.itm .thumb{margin:8px 0; width:150px;}
.MCatalogRL .ListView li.itm .content {margin-bottom:8px;}
.MCatalogRL .ListView li.itm .content a { text-decoration: none; }
.MCatalogRL .ListView li.itm .content .title { text-align: center; }
.MCatalogRL .ListView li.itm .price{color:#d32029; font-weight:bold;}

/* Catalog Product View */
.m_product {width:100%; _width:690px;}
.m_product_dv{border:1px solid #b2e0fa; background:#fff; padding:10px; margin-top:10px; width:708px; _width:690px; float:right;}
.m_product .productInfo h1{font-size:0.8em; }
.m_product .productInfo{}
.m_product .productInfo .shortInfo { font-size: 0.8em; }
.m_product .buyblockdiv_wrap{border-top:1px dotted #b2b2b2; padding-top:2px; float:right;  margin-top:10px;}
.m_product .buyblockdiv {background:#eee; padding:6px 10px; font-size:12px; float:right; width:688px;  .width:686px;_width:671px;}
.m_product .buyblockdiv .dvp{font-weight: bold; color: #d12028; font-size:1.2em;  line-height: 42px; .width:153px;}
.m_product .buyblockdiv .dprice{.width:120px;}
.m_product .buyblockdiv .price { float: right; line-height:42px; font-weight: bold; color: #d12028; font-size:1.2em;  margin-right:5px;}
.m_product .buyblockdiv .oldPrice {   text-decoration: line-through;  color:#616161; display:inline-block; direction:ltr;}
.m_product .buyblockdiv .dquant {float:right; margin-left:12px; border-left:1px dotted #b2b2b2; padding-left:10px; line-height:42px; padding-left:10px; font-weight: bold; _MARGIN-TOP: 5px; width:110px; height:42px;}
.m_product .buyblockdiv .dquant label{float:right;}
.m_product .buyblockdiv .dquant .plusButton {padding:10px;line-height:22px;display:inline-block; background: url('mproducts/plus_bg.gif') no-repeat 50% 50%; color:#fff; font-weight:normal; text-align:center; float:right;}
.m_product .buyblockdiv .dquant .minusButton{padding:10px;line-height: 22px;background: url('mproducts/minus.JPG') no-repeat 50% 50%;color:#0A76BE; float:right;}
.m_product .buyblockdiv .quant {width:20px; margin:10px 2px 0 2px; float:right;}
.m_product .buyblockdiv a.buy{text-decoration:none; background: url('mproducts/add_to_cart.gif') no-repeat 50% 50%; display: block; line-height: 17px; text-align: right; width: 56px; color: #fff; padding-right:28px; font-weight:bold; float:left; margin:0 10px 0 10px;}
.m_product .buyblockdiv a.buy:hover { background: url('mproducts/add_to_cart_ov.gif') no-repeat 50% 50%; }
.m_product .buyblockdiv a.bk{text-decoration:none; background: url('mproducts/back.gif') no-repeat 50% 50%; display: block; line-height: 17px; text-align: right; width: 50px; padding-right:28px; color:#fff; font-weight:bold; float:left; margin-top:8px; clear:left;}
.m_product .buyblockdiv a.bk:hover { background: url('mproducts/back_ov.gif') no-repeat 50% 50%; }
.m_product .buyblockdiv .emailFriend{float:left;  border:none;}
.m_product .buyblockdiv a.wish{background: url('mproducts/save.gif') no-repeat 50% 50%;color:#FFFFFF;float:left;font-weight:bold;line-height:17px;margin-top:8px;padding-right:30px;width:125px; margin-left:10px; }
.m_product .buyblockdiv a.wish:hover{background: url('mproducts/save_ov.gif') no-repeat 50% 50%;}
.m_product .buyblockdiv  a img.thumb{margin-right: 48px;}

.m_product .productPicture { text-align: center; overflow: hidden; position: relative; .position:static;}
.m_product .uxThumbdiv {float:left;}
.m_product .productPicture .thumb {float:left;}
.m_product .productPicture .status { position:absolute; left: 0px; .position:static;}

.m_product .productPicture .info { font-size: 0.8em; text-align: right; direction:ltr; clear:both;}
.m_product .productPicture .info a{text-decoration:none;}
.m_product .productPicture .info img { vertical-align: text-top; margin-left:2px;}
.m_product .productPicture .info .makatB { float: left; }
.m_product .productPicture .makatLabel { font-weight: bold; font-style: normal; margin-left:2px;}

.m_product .productInfo .phSize {margin-top: 10px;}
.m_product .productInfo .addinfo {margin-top:10px;}
.m_product .productInfo .addinfo .hd{font-weight: bold;padding-left:10px;padding-top:5px;}

#prodDescDiv { clear: right; margin-top:10px; font-size:0.8em;}

.m_product .productTopInfo {}
.m_product .productTopInfo .title {float:right;}
.m_product .productTopInfo .title h1 {border:none;}
.m_product .productTopInfo .toolbar {float:left;} /*{width: 30%; text-align: right;position:relative;top:-24px;}*/
.m_product .productTopInfo .ctootl {clear:both;}
.m_product .productTopInfo a {padding-right:5px;}

.m_product .shortInfo {padding-top:10px;}
.m_product .shortInfo td {padding-right:5px;padding-bottom:3px;}
.m_product .shortInfo .hd{font-weight: bold;}
.m_product .shortInfo .ct{}
	
.descwrap {margin-top: 1.4em}
#saleMoreInfo {font-weight: bold;font-size:0.8em;height:20px;margin-bottom:0.1em;padding-right:2px;padding-top:2px;background: url('M/bgMoreInfo.gif') repeat-x;border-top:2px solid #E0E0DE;border-bottom:2px solid #E0E0DE;}
#saleMoreInfo img { background-image:url('M/minus.gif'); }
#saleMoreInfo img:hover { background-image:url('M/plus.gif'); cursor:pointer;}
#saleDescDiv { clear: right;padding-top:0;}

